<div class="container">
	<div>
		<!-- add method to controller to return total votes -->
		<h1><%= total_votes(@question) @question.title %></h1>
		<p><%= @user.name %></p>
	</div>
	
	<div class="content">
		<p><%= @question.content %></p>
	</div>

	<div class="answers">
		<!-- will this work? -->
		<% @question.answers.each do |answer| %>
			<div class="answer">
				<p><%= total_votes(answer) answer.content %></p>
			</div>
		<% end %>
	</div>

</div>