
.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: #F0F8FF
}

.votes {
  display: inline-block;
}

#regform {
  display: none;
}

.tabs {

  list-style: none;
  font-size: 14px;
  left: 5%;
  color: black;

}

.tabs li {
  display: inline;
}

.tabs li.active {
  border-bottom: white;
  border-top-color: orange;
}
.tabs li.active a {
  border-bottom: none;
}
.tabs li a {text-decoration: none;}
.tabs li a:hover {background-color: #D3D3D3;}
.tabs li a:focus, .active {background-color: #D3D3D3;}


h1 {
  text-align: center;
  font-size: 70px;
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

h2 {
  color: #00008B;
}

h3 {
  position: relative;
  left: 40%;
  font-size: 30px;
}

#user-answers {
  position: relative;
  float: left;
  width: 50%;
  left: 5%;
  right: 5%;
  height: 200px;
}

#user-home {
  float: right;
  margin-right: 5%;
}

#answers {
  color: #00008B;
}

.answers{
  border: 1px dotted pink;
  margin-top: 15px;
}

.answer{
  border: 1px dotted pink;
  margin: 10px;
  padding: 15px;
}

.content{
  border: 5px dotted pink;
  padding: 15px;
  font-style: italic;
  border-radius: 20px;
}

#user-questions {
  float: left;
  width: 50%;
  height: 200px;
  left: 0;
}

#questions {
  color: #00008B;
}

#user-responses {
  position: relative;
  float: left;
  width: 50%;
  left: 5%;

}

#responses {
  color: #00008B;
}

#user-display {
  position: relative;
  left: 5%;
}

#user-vote {
  color: #00008B;
  float: left;
}

body {
  background:radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
  radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
  radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
  radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
  radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

  radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
  radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
  radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
  radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
  radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
  background-color:#b03;
  background-size:100px 100px;
}

.questionFormDiv {
  display: none;
}

#answerFormDiv{
  display: none;
}

#like {
  font-size: 20px;
}
