<h1>Add your response:</h1>
<form action='/responses/answers/<%= @answer_id %>' method="POST">
  <textarea name="content" rows="10" cols="50">Enter response here:</textarea>
  <input type="submit" value="Add Response">
</form>
