
  <h2>Create an account:</h2>
  <form action ="/users" method="post">
    <input type="text" name="user[name]" placeholder="Name" >
    <input type="text" name="user[email]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Create User">
  </form>

